[submodule "tmux/tumx-powerline"]
	path = tmux/tumx-powerline
	url = https://github.com/erikw/tmux-powerline
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized
[submodule "zsh/zsh-syntax-hightlighting"]
	path = zsh/zsh-syntax-hightlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
